h1
{
    color:blue;
    font-family: Tahoma;
}
body
{
background-color:rgb(199, 239, 252);
}

a
{
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 14pt;
    color: darkblue;
    padding: 35px;
}

.header
    {
        width: 100%;
        background-color: violet;
        float: left;
        height: 25px;
    }

.slider
    {
        width: 100%;
        background-color: lightcoral;
        height: 16cm;
        padding-top: 1cm;
    }

.box2
    {
        background-color: violet;
        width: 100%;
    }
.box1
    {
        height: 20cm;
        background-color: lightskyblue;
        width: 18cm;
    }
.box3
{
    height: 15cm;
    background-color: lightskyblue;
    padding-bottom: 2cm;
    width: 18cm;
}
.box4
{
    height: 12cm;
    background-color: lightskyblue;
    padding-bottom: 2cm;
    width: 18cm;
}
.box5
    {
        height: 33cm;
        background-color: lightskyblue;
        width: 18cm;
    }
.box6
    {
        height: 25cm;
        background-color: lightskyblue;
        width: 18cm;
    }
.content
    {
        color: black;
    }

table,tr,td,th
    {
        border:2px solid black;
        border-collapse: collapse;
        text-align: center;
    }

table
    {
        width: 600px;
    }

tr
    {
        background-color: lightgray;
    }

th
    {
        background-color: blue;
        color: aliceblue;
        padding: 5px;
    }

td
    {
        padding: 5px;
    }

tr:nth-child(odd)
    {
        background-color: aquamarine;
    }

tr:hover
    {
        background-color: aqua;
    }